<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuccicode.boot.system.domain.mapper.SysLoginVersionMapper">

    <sql id="ALL">
        uid, version, create_time, updated_time
    </sql>
    <update id="updateVersion">
        UPDATE sys_login_version
        SET version = version + 1
        WHERE
            uid = #{uid}
    </update>
</mapper>