<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuccicode.boot.sys.infrastructure.mapper.SysOperateLogMapper">

    <sql id="ALL">
        id
        , username, ip, url, method, params, result, description, error_message, create_time, status
    </sql>
    <select id="selectList" resultType="com.tuccicode.boot.sys.infrastructure.dataobject.SysOperateLogDO">
        SELECT
        <include refid="ALL"/>
        FROM
        sys_operate_log
        WHERE
        1 = 1
        <if test="q.username != null and q.username != ''">
            AND username = #{q.username}
        </if>
        <if test="q.ip != null and q.ip != ''">
            AND ip = #{q.ip}
        </if>
        <if test="q.status != null">
            ANd status = #{q.status}
        </if>
        <if test="q.beginTime != null">
            AND create_time &gt;= #{q.beginTime}
        </if>
        <if test="q.endTime != null">
            AND create_time &lt;= #{q.endTime}
        </if>
        ORDER BY id DESC
    </select>
</mapper>