<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuccicode.boot.sys.infrastructure.mapper.SysUserRoleMapper">

    <insert id="insertList">
        INSERT INTO
        sys_user_role ( uid, role_id )
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{uid}, #{roleId})
        </foreach>
    </insert>
    <delete id="deleteByUid">
        DELETE
        FROM
            sys_user_role
        WHERE
            uid = #{uid}
    </delete>
    <select id="countByRoleId" resultType="int">
        SELECT
            COUNT( 0 )
        FROM
            sys_user_role t1,
            sys_user t2
        WHERE
            t2.is_deleted = FALSE
          AND t1.uid = t2.uid
          AND role_id = #{roleId}
    </select>
</mapper>