<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuccicode.boot.domain.system.mapper.SysUserMapper">

    <sql id="ALL">
        uid
        , username, password, phone, email, is_lock, nickname, remarks, dept_id, create_time, updated_time, is_deleted
    </sql>
    <select id="countByDeptId" resultType="int">
        SELECT count(0)
        FROM sys_user
        WHERE is_deleted = FALSE
          AND dept_id = #{deptId}
    </select>
    <select id="selectList" resultType="com.tuccicode.boot.domain.system.dataobject.SysUserDO">
        SELECT
        <include refid="ALL"/>
        FROM
        sys_user
        WHERE
        is_deleted = FALSE
        <if test="q.username != null and q.username != ''">
            AND username LIKE CONCAT(#{q.username},'%')
        </if>
        <if test="q.phone != null and q.phone != ''">
            AND phone LIKE CONCAT(#{q.phone}, '%')
        </if>
        <if test="q.isLock != null">
            AND is_lock = #{q.isLock}
        </if>
        <if test="q.deptId != null">
            AND dept_id = #{q.deptId}
        </if>
        ORDER BY uid DESC
    </select>
    <select id="selectByUsername" resultType="com.tuccicode.boot.domain.system.dataobject.SysUserDO">
        SELECT
        <include refid="ALL"/>
        FROM
        sys_user
        WHERE
        is_deleted = FALSE
        AND username = #{username}
    </select>
    <select id="selectByUid" resultType="com.tuccicode.boot.domain.system.dataobject.SysUserDO">
        SELECT
        <include refid="ALL"/>
        FROM
        sys_user
        WHERE
        is_deleted = FALSE
        AND uid = #{uid}
    </select>
</mapper>