<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuccicode.boot.domain.system.mapper.SysResMapper">

    <sql id="ALL">
        id
        , `name`, `type`, url, pid, res_char, seq, create_time, updated_time, is_deleted
    </sql>

    <select id="selectByUid" parameterType="long"
            resultType="com.tuccicode.boot.domain.system.dataobject.SysResDO">
        SELECT DISTINCT t1.id,
                        t1.`name`,
                        t1.type,
                        t1.url,
                        t1.pid,
                        t1.res_char,
                        t1.seq,
                        t1.create_time,
                        t1.updated_time
        FROM sys_res AS t1,
             sys_role_res AS t2,
             sys_user_role AS t3,
             sys_user AS t4
        WHERE t4.is_deleted = false
          AND t4.uid = #{uid}
          AND t4.uid = t3.uid
          AND t3.role_id = t2.role_id
          AND t2.res_id = t1.id
    </select>
    <select id="selectById" resultType="com.tuccicode.boot.domain.system.dataobject.SysResDO">
        SELECT
        <include refid="ALL"/>
        FROM
        sys_res
        WHERE
        is_deleted = FALSE
        AND id = #{id}
    </select>
    <select id="selectByName" resultType="com.tuccicode.boot.domain.system.dataobject.SysResDO">
        SELECT
        <include refid="ALL"/>
        FROM
        sys_res
        WHERE
        is_deleted = FALSE
        AND `name` = #{name}
    </select>
    <select id="selectAll" resultType="com.tuccicode.boot.domain.system.dataobject.SysResDO">
        SELECT
        <include refid="ALL"/>
        FROM
        sys_res
        WHERE
        is_deleted = FALSE
    </select>
    <select id="selectByRoleId" resultType="com.tuccicode.boot.domain.system.dataobject.SysResDO">
        SELECT t1.id,
               t1.`name`,
               t1.`type`,
               t1.url,
               t1.pid,
               t1.res_char,
               t1.seq,
               t1.create_time,
               t1.updated_time
        FROM sys_res t1,
             sys_role_res t2,
             sys_role t3
        WHERE t3.is_deleted = FALSE
          AND t3.id = #{roleId}
          AND t3.id = t2.role_id
          AND t2.res_id = t1.id
    </select>
</mapper>